{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/styles_main.css">
{% endblock %}
{% block content %}
<div class="about">
    <div>
        <h2>Welcome to Movie Adder</h2>
        <p>At Movie Adder, we're passionate about movies and the joy they bring into our lives. We believe that
            every film tells a unique story, and we're here to help you share your love for cinema with the world.</p>
    </div>
    <div>
        <h2>What We Offer:</h2>
        <ul>
            <li>
                <p><h3>Create Your Movie Library:</h3>Build your personalized movie collection by listing out your favorite
                films. Whether it's timeless classics, heartwarming romances, action-packed adventures, or
                thought-provoking dramas, your movie library is a reflection of your cinematic taste.</p>
            </li>
            <li>
                <p><h3>Rate and Review:</h3> Express your opinions by rating the movies you love. Give them stars based on
                your enjoyment, and if you're inclined, write detailed reviews to share your insights, critiques, and
                recommendations with fellow movie enthusiasts.</p>
            </li>
            <li>
                <p><h3>Connect with Fellow Movie Buffs:</h3>Join a community of like-minded individuals who share your
                passion for movies. Discuss your favorite films, exchange recommendations, and discover hidden gems
                together.</p>
            </li>
            <li>
                <p><h3>Your Movies, Your Space:</h3>Your movie library is your sanctuary. It's the place where your
                cinematic journey unfolds, and where you can revisit your favorite films anytime. Whether you're a
                casual viewer or a dedicated cinephile, this is your space to explore, appreciate, and celebrate the art
                of storytelling through movies.</p>
            </li>
        </ul>   
    </div>
    <hr>
    <div>
        <p>Join us at Movie Adder and let's embark on a cinematic adventure together. Start building your movie
            library, sharing your reviews, and connecting with fellow movie buffs today!</p>
    </div>

</div>
{% endblock %}